<include file="Public/header" title="Index"/>
<link rel="stylesheet" type="text/css" href="__HomeCSS__/login.css"/>
<style>
    input {
        background-color: white;
    }
</style>
<script>
    $('#resusername').hide();
    $('#respwd').hide();
    $('#resuser').hide();
</script>
<div class="main1">
    <div class="headm">
        <ul>
            <a href="{:U('login/index')}">
                <li>登录</li>
            </a>
            <a href="{:U('register/index')}">
                <li style="background:#fa243d;color:white;">注册</li>
            </a>
            <a href="{:U('index/index')}">
                <li><img src="__HomeIMG__/index/close.png"
                         style="width:20%;margin-left:180px;margin-top:-4px;opacity:0.7"></li>
            </a>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="information" style="margin-top:30px;"><span>设置昵称</span><input type="text" name="" value="" id="username"
                                                                              placeholder="不超过20个字符"
                                                                              onkeyup="checklength(this,20)"><span
            style="margin-left:10px;color:darkred" id="resusername">字数超限</span>
    </div>
    <div class="information"><span>设置账号</span><input type="text" name="" value="" id="user">
    <span
            style="margin-left:10px;color:darkred" id="resuser">帐号已存在</span></div>
    <div class="information"><span>设置密码</span><input type="password" name="" value="" id="pwd"></div>
    <div class="information"><span>确认密码</span><input type="password" name="" value="" id="repwd"><span
            style="margin-left:10px;color:darkred" id="respwd">确认有误</span></div>
    <script>
        $('#resusername').hide();
        $('#respwd').hide();
        $('#resuser').hide();
        $('#ress').hide();
    </script>
    <div class="information1"><span>身份选择</span>
        <select name="shenfen" id="shenfen">
            <option value="0">请选择你要注册的角色</option>
            <option value="1">学生</option>
            <option value="2">老师</option>
        </select>
        <span
                style="margin-left:10px;color:darkred" id="ress">请选择</span>
    </div>
    <div class="footl"><input type="button" name="" value="注册" id="regbtn"></div>
</div>
<script>

    $('#resusername').hide();
    $('#respwd').hide();
    $('#resuser').hide();
    $('#ress').hide();
    var flag = true;
    function checklength(which, maxlength) {
        var maxChars = maxlength; //
        if (which.value.length > maxChars) {
            which.setAttribute("style", "-webkit-box-shadow:0px 0px 5px red;outline:none;");
            $('#resusername').show();
            flag = false;
        } else {
            which.setAttribute("style", "");
            $('#resusername').hide();
            flag = true;
        }
    }
    //MARK!
    $('#user').on('blur', function () {
        $.ajax({
            url: '{:U(\'register/checkusername\')}',
            data: $('#user').val(),
            type: 'post',
            async: false,
            success: function (data) {
                if (data.result != 0) {
                    $('#resuser').show();
                }

            }
        })
    });
    $('#repwd').on('blur', function () {
        var pwd = $('#pwd').val();
        var repwd = $('#repwd').val();
        if (pwd != repwd) {
            $('#respwd').show();
            flag = false;
        }else{
            $('#respwd').show();
        }
    });

    $('#regbtn').on('click', function () {
        var flag = true;
        var username = $('#username').val();
        var user = $('#user').val();
        var pwd = $('#pwd').val();
        var repwd = $('#repwd').val();
        var shenfen = $("#shenfen").val();
        if (shenfen == 0) {
            flag = false;
            $('#ress').show();
        }
        else{
            $('#ress').hide();
        }
        function checkpwd(pwd, repwd) {
            if (pwd != repwd) {
                $('#respwd').show();
                flag = false;
            }else{
                $('#respwd').hide();
            }
        }

        function checknil(a1, a2, a3) {
            if (a1 == "" || a2 == "" || a3 == "") {
                flag = false;
            }
        }

        checkpwd(pwd, repwd);
        checknil(username, user, pwd);
        if (flag) {
            var userdata = {
                name: username,
                pwds: hex_md5(pwd),
                users: user,
                tag: shenfen,
            };
            $.ajax({
                url: '{:U(\'register/registers\')}',
                data: userdata,
                type: 'post',
                success: function (data) {
                    console.log(data);
                    if(data.result==0){
                        alert(data.msg+"现在跳转到登录页面");
                        window.location.href="{:U(\'login/index\')}";
                    }
                    else{
                        alert(data.msg);
                    }
                }
            })
        } else {
            alert("请补全或修改后提交");
        }
    })
</script>
</body>
</html>