<include file="Public/header" title="Index" />
    <link rel="stylesheet" type="text/css" href="__HomeCSS__/login.css"/>
    <div class="main1">
    <div class="headm">
    <ul>
    <a href="{:U('login/index')}"><li>登录</li></a>
    <a href="{:U('register/index')}"><li style="background:#fa243d;color:white;">注册</li></a>
     <a href="{:U('index/index')}"><li><img src="__HomeIMG__/index/close.png" style="width:20%;margin-left:180px;margin-top:-4px;opacity:0.7" ></li></a>
    </ul>
       <div class="clear"></div>
    </div>
    <div class="information"  style ="margin-top:30px;"><span>设置昵称</span><input type="password" name="" value=""></div>
    <div class="information" ><span>设置账号</span><input type="text" name="" value=""></div>
    <div class="information"><span>设置密码</span><input type="password" name="" value=""></div>
    <div class="information"><span>确认密码</span><input type="password" name="" value=""></div>
         <div class="information1"><span>身份选择</span>
     <select name="shenfen">
     <option value="1">学生</option>
      <option value="2">老师</option>
     option
     </select></div>

    <div class="footl"><input type="submit" name="" value="注册"></div>
    </div>
    </body>
</html>