<include file="Public/header" title="后台主页" />
 <!--<js href="__PUBLIC__/Admin/js/jquery-2.0.2.js" />-->
 <js href="__PUBLIC__/Admin/ueditor/ueditor.config.js" />
 <js href="__PUBLIC__/Admin/ueditor/ueditor.all.min.js" />
<div style="margin-left:180px;margin-top:60px;padding-bottom:50px;overflow: hidden;">
	<div class="alert alert-info" role="alert">
		<h1>作品编辑</h1>
	</div>
	<form action="{:U('Works/editWorks')}" method="post">
		<table class="table table-striped" style="">
			<tr>
				<td style="width: 200px;height:60px;line-height:60px;font-size:24px;text-align: right;">标题 :</td>
				<td style="height:60px;line-height:60px;font-size:20px;text-align: left;"><input name="title" type="text" style="height:40px;width:400px;border-radius: 4px; padding:4px;" value="{$data.title}"/></td>
			</tr>
			<tr>
				<td style="width: 200px;height:60px;line-height:60px;font-size:24px;text-align: right;">分类 :</td>
				<td style="height:60px;line-height:60px;font-size:20px;text-align: left;"><select name="fenlei" style="font-size:14px;height:40px;width:120px;color:#666">
                     <option value="UI">UI/UX</option>
                    <option value="PM">平面设计</option>
                    <option value="MH">漫画/插画</option>
                    <option value="WY">网页设计</option>
                    <option value="MD">3D模型</option>
                    <option value="DP">创意短片</option>
                    <option value="PT">摄影</option>
                    <option value="OTHER">其他</option>
                </select></td>
			</tr>
			<tr>
				<td style="width: 200px;height:60px;line-height:60px;font-size:24px;text-align: right;">作品内容 :</td>
				<td><script type="text/plain" id="Vent" style="width:800px;height:400px;"></script></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="hidden" name="hiddenid" value="{$data.ariticalid}"/><input type="submit"  class="btn btn-info" value="提交编辑"/></td>
			</tr>
		</table>
	</form>
</div>
<!--注册百度ueditor-->
<script type="text/javascript">
  var editor = new baidu.editor.ui.Editor({
  	//PUBLIC HOME UEDITOR PHP CONFIG.JSON修改图片路径
    toolbars:[['fullscreen', 'source', '|', 'undo', 'redo', '|',
            'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
            'rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
            'customstyle', 'paragraph', 'fontfamily', 'fontsize', '|',
            'directionalityltr', 'directionalityrtl', 'indent', '|',
            'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 'touppercase', 'tolowercase', '|',
            'link', 'unlink', 'anchor', '|', 'imagenone', 'imageleft', 'imageright', 'imagecenter', '|',
            'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment','insertcode', 'background', '|',
            'horizontal', 'date', 'time', 'spechars']],//自定义ueditor工具栏
    initialContent: '{$data.content|htmlspecialchars_decode}',
    minFrameHeight: 100,//初始化框架大小
    zIndex:1,
    maximumWords:10000,
    autoFloatEnabled: true,//工具栏自动浮动-》关闭
    autoHeightEnabled: false,
    textarea:'content'//form表单将通过该参数获得表单提交的数据
  });
  editor.render("Vent");
</script>
<!--百度Ueditor注册完毕-->
</body>

</html>