<include file="Public/header" title="后台主页" />
<div style="margin-left:180px;margin-top:60px;padding-bottom:50px;overflow: scroll;">
	<div class="alert alert-info" role="alert">
		<h1>用户作品列表</h1></div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th style="width:60px;;text-align: center;">序号</th>
				<th style="width:80px;;text-align: center;">用户</th>
				<th style="width:200px;;text-align: center;">标题</th>
				<th style="width:60px;;text-align: center;">分类</th>
				<th style="width:500px;;text-align: center;">作品简介</th>
				<th style="width:160px;;text-align: center;">作品封图</th>
				<th style="width:160px;;text-align: center;">发布时间</th>
				<th style="width:60px;;text-align: center;">点击量</th>
				<th style="width:80px;;text-align: center;">编辑</th>
				<th style="width:80px;;text-align: center;">删除</th>
			</tr>
		</thead>
		<tbody>
			<foreach name="list" item="C" key="k">
				<tr>
					<td>{$k+1}</td>
					<td>{$C.username}</td>
					<td>{$C.title}</td>
					<td><?php if( $C['articaltype'] == 1)
										{  echo '原创教程'; }
										 else if( $C['articaltype'] == 2)
										{  echo '观点'; }
										else if( $C['articaltype'] == 3)
										{  echo '设计资讯';}
										else if( $C['articaltype'] == 4)
										{  echo '其他';}
										?>
					</td>
					<td>{$C.intro}</td>
					<td><img src="__PUBLIC__{$C.indeximgpath}" width="150" heih'150' alt="" /></td>
					<td>{$C.createtime}</td>
					<td>{$C.clicknum}</td>
					<td>
						<a href="__MODULE__/Works/editEssay/id/{$C.ariticalid}"><button class="btn btn-primary" type="button" style="background: lightskyblue;width: 82px;border:none">编辑</button></a>

					</td>
					<td>
						<if condition="$C['status'] eq 0 ">
							<label class="btn btn-primary" type="button" style="background: black;color:white;width: 82px;">已删除</label>
							<a href="__MODULE__/Works/unDeleEssay/id/{$C.ariticalid}" class="primary" ><button class="btn btn-primary" type="button"style="background: orange;color:white;width: 82px;">解除</button></a>
							<elseif condition="$C['status'] eq 1 "/> <a href="__MODULE__/Works/deleEssay/id/{$C.ariticalid}" class="primary" ><button class="btn btn-primary" type="button">删除文章</button></a>
						</if>
					</td>
				</tr>
			</foreach>

		</tbody>

	</table>
	{$page}
</div>

</body>

</html>