<include file="Public/header"/>
<include file="Public/personinfo"/>
<div class="list">
    <div class="list1">
        <ul>
            <li style="background:url(__HomeIMG__/person/background.png) " id="study" onclick="study()"><a
                    href="#">我的收藏</a></li>
            <li id="concern" onclick="concern()"><a href="#">我的关注</a></li>
            <li id="fan" onclick="fan()"><a href="#">我的粉丝</a></li>
            <div class="clear"></div>
        </ul>

    </div>
</div>
<!--  第一个人页面 -->
<div class="clear"></div>
<div id="person1">
    <div class="article">
        <empty name="course">
            <div class="article1">
                <div class="a-img"><img src="__HomeIMG__/person/swift6.jpg"></div>
                <div class="a-x">
                   <p>暂无收藏课程</p>
                </div>
            </div>
        </empty>
        <volist name="mycourse" id="mo">
            <div class="article1">
                <div class="a-img"><img src="__MODULE__/course/showdetail/id/{$mo.cid}"></div>
                <div class="a-x">
                    <span style="font-size:25px;font-weight:bold;">{$co.typename}</span>
                    <P style="margin-top:15px;"><span style="color:#fa243d;font-size:15px;">已学0%</span>
                    <p style="float:right;margin-top:20px;margin-right:5px;font-size:13px;color:#8e8e8e;">study.createtime</p>
                </div>
                <div class="study"><input type="button" name="" value="开始学习"></div>
            </div>
        </volist>
    </div>

</div>
<div class="clear"></div>

<!-- 第二个人页面 -->
<div id="person2">
    <div class="article">
        <empty name="course">
            <a href="#">
                <div class="kecheng1">
                    <img src="__HomeIMG__/index/p1.jpg" height="128" width="228">
                    <div class="main1-1-1">{$co.username}</div>
                </div>
            </a>
        </empty>
        <volist name="concern" id="co">

            <div class="kecheng1">
                <img src="__HomeIMG__/index/p1.jpg" height="128" width="228">
                <div class="main1-1-1">{$co.username}</div>
            </div>

        </volist>

    </div>
</div>
<!-- 第三个页面 -->
<div id="person3">
    <div class="article">
        <empty name="course">
            <a href="#">
                <div class="kecheng1">
                    <img src="__HomeIMG__/index/p1.jpg" height="128" width="228">
                    <div class="main1-1-1">{$co.username}</div>
                </div>
            </a>
        </empty>
        <volist name="concern" id="co">

            <div class="kecheng1">
                <img src="__HomeIMG__/index/p1.jpg" height="128" width="228">
                <div class="main1-1-1">{$co.username}</div>
            </div>

        </volist>

    </div>
</div>
<include file="Public/footer"/>