<!DOCTYPE html>
<html lang="en">
    <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="学习网站，提供在线课程"> 
  		  <link rel="stylesheet" type="text/css" href="../../../../../../kecheng/css/person.css"/>
          <script type="text/javascript">
         function study(){
            document.getElementById("study").style.background =" url(image/person/background.png)";
             document.getElementById("concern").style.background ="none" ;
               document.getElementById("fan").style.background ="none";
               document.getElementById("person1").style.display ="block";
                  document.getElementById("person2").style.display ="none";
                   document.getElementById("person3").style.display ="none";
         }
           function concern(){
            document.getElementById("concern").style.background ="url(image/person/background.png)";
             document.getElementById("study").style.background ="none" ;
               document.getElementById("fan").style.background ="none";
               document.getElementById("person2").style.display ="block";
                  document.getElementById("person1").style.display ="none";
                   document.getElementById("person3").style.display ="none";
         }
             function fan(){
            document.getElementById("fan").style.background =" url(image/person/background.png)";
             document.getElementById("study").style .background="none" ;
               document.getElementById("concern").style.background ="none";
               document.getElementById("person3").style.display ="block";
                  document.getElementById("person1").style.display ="none";
                   document.getElementById("person2").style.display ="none";
         }
          </script>
    
    </head>
    <body>
    <div id ="mainp">
     <div class ="head">
        <div class ="img1">
        <a href="index.html"><img src="../../../../../../kecheng/image/index/logo.png" ></a>
        </div> 
        <div class="headw">
        <ul>
        <li style ="margin-left:-5px"><a href="index.html">首页</a></li>
        <li><a href="index.html">全部课程</a></li>
        <li><a href="#">微专业</a></li>
        <li><a href="#">关于我们</a></li>
        </ul>
        </div>
        <div class="headright">
         <div class="heads"><img src="../../../../../../kecheng/image/index/sousuo.png" ><input type="text" name="" value="" placeholder=""></div>
        <div class="headr"><img src="../../../../../../kecheng/image/person/use1.jpg"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="heada">
        <div class="headt"><img src="../../../../../../kecheng/image/person/use1.jpg"></div>
        <div class="headw1"><h2>WXIN123</h2>
         <div class="Take"><a href="personI.html"><input type="button" name="" value="编辑" placeholder=""></a></div>
            </div>
        <div class="headw2">
            <div class="guan1" ><p>1</p><p>关注</p></div>
            <div class="guan2"><p>0</p><p>粉丝</p></div>             
        </div>
            <div class="clear"></div> 
        </div>
    </div>

    <div class="list">
        <div class="list1">
        <ul>
        <li style="background:url(image/person/background.png) " id="study" onclick="study()"><a href="#">学习课程</a></li>
        <li  id="concern" onclick="concern()"><a href="#">我的关注</a></li>
        <li  id="fan" onclick="fan()"><a href="#">我的粉丝</a></li>
        </ul>
             <div class="clear"></div>
        </div>
    </div>
   <!--  第一个人页面 -->
    <div id="person1">
    <div class="article">
    <div class="article1">
        <div class="a-img"><img src="../../../../../../kecheng/image/person/swift1.jpg"></div>
        <div class="a-x">
            <span style= "font-size:25px;font-weight:bold;">swiftapp学习教程</span>
            <span style="margin-left:10px;">更新完毕</span>
            <P style ="margin-top:15px;"><span style ="color:#fa243d;font-size:15px;">已学0%</span><span style ="font-size:15px;margin-left:15px;">用时&nbsp9分</span><span style ="font-size:15px;margin-left:15px;">学习至1-1&nbsp为什么是可选型</span></P>
            <p style="float:right;margin-top:20px;margin-right:5px;font-size:13px;color:#8e8e8e;">学习时间：2016年6月30日</p>
        </div>
       <div class="study"><input type="button" name="" value="继续学习"></div>
    </div>

        <div class="article1">
        <div class="a-img"><img src="../../../../../../kecheng/image/person/swift2.jpg"></div>
        <div class="a-x">
            <span style= "font-size:25px;font-weight:bold;">swift学习第一季</span>
            <span style="margin-left:10px;">更新完毕</span>
            <P style ="margin-top:15px;"><span style ="color:#fa243d;font-size:15px;">已学0%</span><span style ="font-size:15px;margin-left:15px;">用时&nbsp9分</span><span style ="font-size:15px;margin-left:15px;">学习至1-1&nbsp为什么是可选型</span></P>
            <p style="float:right;margin-top:20px;margin-right:5px;font-size:13px;color:#8e8e8e;">学习时间：2016年6月30日</p>
        </div>
       <div class="study"><input type="button" name="" value="继续学习"></div>
    </div>

        <div class="article1">
        <div class="a-img"><img src="../../../../../../kecheng/image/person/swift3.jpg"></div>
        <div class="a-x">
            <span style= "font-size:25px;font-weight:bold;">ios基本教程</span>
            <span style="margin-left:10px;">更新完毕</span>
            <P style ="margin-top:15px;"><span style ="color:#fa243d;font-size:15px;">已学0%</span><span style ="font-size:15px;margin-left:15px;">用时&nbsp9分</span><span style ="font-size:15px;margin-left:15px;">学习至1-1&nbsp为什么是可选型</span></P>
            <p style="float:right;margin-top:20px;margin-right:5px;font-size:13px;color:#8e8e8e;">学习时间：2016年6月30日</p>
        </div>
       <div class="study"><input type="button" name="" value="继续学习"></div>
    </div>

        <div class="article1">
        <div class="a-img"><img src="../../../../../../kecheng/image/person/swift4.jpg"></div>
        <div class="a-x">
            <span style= "font-size:25px;font-weight:bold;">IOS基础教程文件操作</span>
            <span style="margin-left:10px;">更新完毕</span>
            <P style ="margin-top:15px;"><span style ="color:#fa243d;font-size:15px;">已学0%</span><span style ="font-size:15px;margin-left:15px;">用时&nbsp9分</span><span style ="font-size:15px;margin-left:15px;">学习至1-1&nbsp为什么是可选型</span></P>
            <p style="float:right;margin-top:20px;margin-right:5px;font-size:13px;color:#8e8e8e;">学习时间：2016年6月30日</p>
        </div>
       <div class="study"><input type="button" name="" value="继续学习"></div>
    </div>

        <div class="article1">
        <div class="a-img"><img src="../../../../../../kecheng/image/person/swift5.jpg"></div>
        <div class="a-x">
            <span style= "font-size:25px;font-weight:bold;">swift开发者大会</span>
            <span style="margin-left:10px;">更新完毕</span>
            <P style ="margin-top:15px;"><span style ="color:#fa243d;font-size:15px;">已学0%</span><span style ="font-size:15px;margin-left:15px;">用时&nbsp9分</span><span style ="font-size:15px;margin-left:15px;">学习至1-1&nbsp为什么是可选型</span></P>
            <p style="float:right;margin-top:20px;margin-right:5px;font-size:13px;color:#8e8e8e;">学习时间：2016年6月30日</p>
        </div>
       <div class="study"><input type="button" name="" value="继续学习"></div>
    </div>

        <div class="article1">
        <div class="a-img"><img src="../../../../../../kecheng/image/person/swift6.jpg"></div>
        <div class="a-x">
            <span style= "font-size:25px;font-weight:bold;">swift学习第一季</span>
            <span style="margin-left:10px;">更新完毕</span>
            <P style ="margin-top:15px;"><span style ="color:#fa243d;font-size:15px;">已学0%</span><span style ="font-size:15px;margin-left:15px;">用时&nbsp9分</span><span style ="font-size:15px;margin-left:15px;">学习至1-1&nbsp为什么是可选型</span></P>
            <p style="float:right;margin-top:20px;margin-right:5px;font-size:13px;color:#8e8e8e;">学习时间：2016年6月30日</p>
        </div>
       <div class="study"><input type="button" name="" value="继续学习"></div>
    </div>
    </div>
    </div>
<!-- 第二个人页面 -->
<div id="person2">
    <div class="article">
         <div class="article1">
        <div class="a-img"><img src="../../../../../../kecheng/image/person/swift6.jpg"></div>
        <div class="a-x">
            <span style= "font-size:25px;font-weight:bold;">swift学习第一季</span>
            <span style="margin-left:10px;">更新完毕</span>
            <P style ="margin-top:15px;"><span style ="color:#fa243d;font-size:15px;">已学0%</span><span style ="font-size:15px;margin-left:15px;">用时&nbsp9分</span><span style ="font-size:15px;margin-left:15px;">学习至1-1&nbsp为什么是可选型</span></P>
            <p style="float:right;margin-top:20px;margin-right:5px;font-size:13px;color:#8e8e8e;">发布时间：2016年6月30日</p>
        </div>
       <div class="study"><input type="button" name="" value="开始学习"></div>
    </div>
            <div class="article1">
        <div class="a-img"><img src="../../../../../../kecheng/image/person/swift5.jpg"></div>
        <div class="a-x">
            <span style= "font-size:25px;font-weight:bold;">swift开发者大会</span>
            <span style="margin-left:10px;">更新完毕</span>
            <P style ="margin-top:15px;"><span style ="color:#fa243d;font-size:15px;">已学0%</span><span style ="font-size:15px;margin-left:15px;">用时&nbsp9分</span><span style ="font-size:15px;margin-left:15px;">学习至1-1&nbsp为什么是可选型</span></P>
            <p style="float:right;margin-top:20px;margin-right:5px;font-size:13px;color:#8e8e8e;">发布时间：2016年6月30日</p>
        </div>
       <div class="study"><input type="button" name="" value="开始学习"></div>
    </div>
            <div class="article1">
        <div class="a-img"><img src="../../../../../../kecheng/image/person/swift3.jpg"></div>
        <div class="a-x">
            <span style= "font-size:25px;font-weight:bold;">ios基本教程</span>
            <span style="margin-left:10px;">更新完毕</span>
            <P style ="margin-top:15px;"><span style ="color:#fa243d;font-size:15px;">已学0%</span><span style ="font-size:15px;margin-left:15px;">用时&nbsp9分</span><span style ="font-size:15px;margin-left:15px;">学习至1-1&nbsp为什么是可选型</span></P>
            <p style="float:right;margin-top:20px;margin-right:5px;font-size:13px;color:#8e8e8e;">发布时间：2016年6月30日</p>
        </div>
       <div class="study"><input type="button" name="" value="开始学习"></div>
    </div>

        <div class="article1">
        <div class="a-img"><img src="../../../../../../kecheng/image/person/swift4.jpg"></div>
        <div class="a-x">
            <span style= "font-size:25px;font-weight:bold;">IOS基础教程文件操作</span>
            <span style="margin-left:10px;">更新完毕</span>
            <P style ="margin-top:15px;"><span style ="color:#fa243d;font-size:15px;">已学0%</span><span style ="font-size:15px;margin-left:15px;">用时&nbsp9分</span><span style ="font-size:15px;margin-left:15px;">学习至1-1&nbsp为什么是可选型</span></P>
            <p style="float:right;margin-top:20px;margin-right:5px;font-size:13px;color:#8e8e8e;">发布时间：2016年6月30日</p>
        </div>
       <div class="study"><input type="button" name="" value="开始学习"></div>
    </div>


    <div class="article1">
        <div class="a-img"><img src="../../../../../../kecheng/image/person/swift1.jpg"></div>
        <div class="a-x">
            <span style= "font-size:25px;font-weight:bold;">swiftapp学习教程</span>
            <span style="margin-left:10px;">更新完毕</span>
            <P style ="margin-top:15px;"><span style ="color:#fa243d;font-size:15px;">已学0%</span><span style ="font-size:15px;margin-left:15px;">用时&nbsp9分</span><span style ="font-size:15px;margin-left:15px;">学习至1-1&nbsp为什么是可选型</span></P>
            <p style="float:right;margin-top:20px;margin-right:5px;font-size:13px;color:#8e8e8e;">发布时间：2016年6月30日</p>
        </div>
       <div class="study"><input type="button" name="" value="开始学习"></div>
    </div>

        <div class="article1">
        <div class="a-img"><img src="../../../../../../kecheng/image/person/swift2.jpg"></div>
        <div class="a-x">
            <span style= "font-size:25px;font-weight:bold;">swift学习第一季</span>
            <span style="margin-left:10px;">更新完毕</span>
            <P style ="margin-top:15px;"><span style ="color:#fa243d;font-size:15px;">已学0%</span><span style ="font-size:15px;margin-left:15px;">用时&nbsp9分</span><span style ="font-size:15px;margin-left:15px;">学习至1-1&nbsp为什么是可选型</span></P>
            <p style="float:right;margin-top:20px;margin-right:5px;font-size:13px;color:#8e8e8e;">发布时间：2016年6月30日</p>
        </div>
       <div class="study"><input type="button" name="" value="开始学习"></div>
    </div>
    </div>
</div>
<!-- 第三个页面 -->
<div id="person3">
    <div class="article">
    <div class="article1">
       <a href="#"><div class="kecheng1">
            <img src="../../../../../../kecheng/image/index/p1.jpg" height="128" width="228">
            <div class="main1-1-1">Chan123</div>
            <div class="main1-2">
            <div class="main1-2l">来自珠海</div>
           
            <div class="main1-2r">职位：学生</div>
             <div class="clear"></div>
            </div>
        </div>
        </a>

               <a href="#"><div class="kecheng1">
            <img src="../../../../../../kecheng/image/index/p2.jpg" height="128" width="228">
            <div class="main1-1-1">Caillll</div>
            <div class="main1-2">
            <div class="main1-2l">来自珠海</div>
           
            <div class="main1-2r">职位：学生</div>
             <div class="clear"></div>
            </div>
        </div>
        </a>

               <a href="#"><div class="kecheng1">
            <img src="../../../../../../kecheng/image/index/p3.jpg" height="128" width="228">
            <div class="main1-1-1">Wuruiwei</div>
            <div class="main1-2">
            <div class="main1-2l">来自珠海</div>
           
            <div class="main1-2r">职位：学生</div>
             <div class="clear"></div>
            </div>
        </div>
        </a>

               <a href="#"><div class="kecheng1">
            <img src="../../../../../../kecheng/image/index/p4.jpg" height="128" width="228">
            <div class="main1-1-1">liussss</div>
            <div class="main1-2">
            <div class="main1-2l">来自珠海</div>
           
            <div class="main1-2r">职位：学生</div>
             <div class="clear"></div>
            </div>
        </div>
        </a>

</div>






  <div class="article1">
       <a href="#"><div class="kecheng1">
            <img src="../../../../../../kecheng/image/index/p3.jpg" height="128" width="228">
            <div class="main1-1-1">Chan123</div>
            <div class="main1-2">
            <div class="main1-2l">来自珠海</div>
           
            <div class="main1-2r">职位：学生</div>
             <div class="clear"></div>
            </div>
        </div>
        </a>

               <a href="#"><div class="kecheng1">
            <img src="../../../../../../kecheng/image/index/p4.jpg" height="128" width="228">
            <div class="main1-1-1">Caillll</div>
            <div class="main1-2">
            <div class="main1-2l">来自珠海</div>
           
            <div class="main1-2r">职位：学生</div>
             <div class="clear"></div>
            </div>
        </div>
        </a>

               <a href="#"><div class="kecheng1">
            <img src="../../../../../../kecheng/image/index/p2.jpg" height="128" width="228">
            <div class="main1-1-1">Wuruiwei</div>
            <div class="main1-2">
            <div class="main1-2l">来自珠海</div>
           
            <div class="main1-2r">职位：学生</div>
             <div class="clear"></div>
            </div>
        </div>
        </a>

               <a href="#"><div class="kecheng1">
            <img src="../../../../../../kecheng/image/index/p1.jpg" height="128" width="228">
            <div class="main1-1-1">liussss</div>
            <div class="main1-2">
            <div class="main1-2l">来自珠海</div>
           
            <div class="main1-2r">职位：学生</div>
             <div class="clear"></div>
            </div>
        </div>
        </a>

</div>
</div>
</div>


 <div class="foot">
     <p style="padding-top:30px;">在线课堂，足不出门，尽学天下知识</p>
     <p>所有版权归属于在线课堂</p>
 </div>

  
    </body>
</html>